<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaia3d.web.mapper.DomainSubMapper">
	<select id="SelectMany" parameterType="hashmap" resultType="DomainSubDTO">
		SELECT * FROM (
     		SELECT ROWNUM AS RNUM, A.* FROM (
     			SELECT
				    A.DMN_SUB_SEQ_N 
			       ,A.DMN_SEQ_N     
			       ,(SELECT DMN_KOR_NM FROM SMT_DMN_T WHERE DMN_SEQ_N = A.DMN_SEQ_N AND DEL_F_CD = 'N' ) AS DMN_KOR_NM
			       ,A.DMN_SUB_KOR_NM
			       ,A.DMN_SUB_ENG_NM
			       ,A.DMN_SUB_DESC  
			       ,A.USE_F_CD      
			       ,A.DEL_F_CD      
			       ,A.RG_K_SEQ_N    
			       ,A.RG_D          
			       ,A.RG_TM         
			       ,A.RG_IP         
			       ,A.MDF_K_SEQ_N   
			       ,A.MDF_D         
			       ,A.MDF_TM        
			       ,A.MDF_IP      
			       ,A.DMN_SUB_CD      
				FROM
				       SMT_DMN_SUB_T A
				WHERE
					A.DEL_F_CD = 'N'	
				<if test="search_text != null and search_text != '' and search_target != null ">
				   <if test="search_target == 'dmn_sub_kor_nm' ">
	    				AND A.DMN_SUB_KOR_NM like '%' ||#{search_text} ||'%'
				   </if>
				   <if test="search_target == 'dmn_sub_eng_nm'">
	    				AND A.DMN_SUB_ENG_NM like '%' ||#{search_text} ||'%'
				   </if>
				   <if test="search_target == 'all' ">
	    				AND ( A.DMN_SUB_KOR_NM like '%' ||#{search_text} ||'%' OR A.DMN_SUB_ENG_NM like '%' ||#{search_text} ||'%' )
				   </if>
	  			</if>
	 			<if test="search_use != null and search_use != '' ">
	 					AND A.USE_F_CD = #{search_use}
	 			</if> 
	 			<if test="search_dmn_seq_n != null and search_dmn_seq_n != '' ">
	 					AND A.DMN_SEQ_N = #{search_dmn_seq_n}
	 			</if> 
			ORDER BY
				A.RG_D DESC, A.RG_TM DESC
				
		<![CDATA[		
				) A
			) WHERE RNUM >= #{startRow}	AND RNUM <= #{endRow}   
		]]>		 	
	</select>

	
	<select id="Count" parameterType="hashmap" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			SMT_DMN_SUB_T A
		WHERE
				A.DEL_F_CD = 'N'	
				<if test="search_text != null and search_text != '' and search_target != null ">
				   <if test="search_target == 'dmn_sub_kor_nm' ">
	    				AND A.DMN_SUB_KOR_NM like '%' ||#{search_text} ||'%'
				   </if>
				   <if test="search_target == 'dmn_sub_eng_nm'">
	    				AND A.DMN_SUB_ENG_NM like '%' ||#{search_text} ||'%'
				   </if>
				   <if test="search_target == 'all' ">
	    				AND ( A.DMN_SUB_KOR_NM like '%' ||#{search_text} ||'%' OR A.DMN_SUB_ENG_NM like '%' ||#{search_text} ||'%' )
				   </if>
	  			</if>
	 			<if test="search_use != null and search_use != '' ">
	 					AND A.USE_F_CD = #{search_use}
	 			</if> 
	 			<if test="search_dmn_seq_n != null and search_dmn_seq_n != '' ">
	 					AND A.DMN_SEQ_N = #{search_dmn_seq_n}
	 			</if> 
	 				
	</select>
		
	<select id="SelectOne" parameterType="hashmap" resultType="DomainSubDTO">
		SELECT 
			A.DMN_SUB_SEQ_N 
	       ,A.DMN_SEQ_N     
	       ,(SELECT DMN_KOR_NM FROM SMT_DMN_T WHERE DMN_SEQ_N = A.DMN_SEQ_N AND DEL_F_CD = 'N'  ) AS DMN_KOR_NM
	       ,A.DMN_SUB_KOR_NM
	       ,A.DMN_SUB_ENG_NM
	       ,A.DMN_SUB_DESC  
	       ,A.USE_F_CD      
	       ,A.DEL_F_CD      
	       ,A.RG_K_SEQ_N    
	       ,A.RG_D          
	       ,A.RG_TM         
	       ,A.RG_IP         
	       ,A.MDF_K_SEQ_N   
	       ,A.MDF_D         
	       ,A.MDF_TM        
	       ,A.MDF_IP      
	       ,A.DMN_SUB_CD      
		FROM
		       SMT_DMN_SUB_T A 
		WHERE 
			A.DMN_SUB_SEQ_N=#{dmn_sub_seq_n}
	</select>

	
	<select id="Insert" parameterType="DomainSubDTO">
		INSERT INTO SMT_DMN_SUB_T (
			DMN_SUB_SEQ_N 
			,DMN_SEQ_N     
			,DMN_SUB_KOR_NM
			,DMN_SUB_ENG_NM
			,DMN_SUB_DESC  
			,USE_F_CD              
			,DEL_F_CD              
			,RG_K_SEQ_N            
			,RG_D                  
			,RG_TM                 
			,RG_IP                 
			,MDF_K_SEQ_N           
			,MDF_D                 
			,MDF_TM                
			,MDF_IP                
			,DMN_SUB_CD                
		) VALUES (
			 SMT_DMN_SUB_T_SQ01.NEXTVAL
			,#{dmn_seq_n}
			,#{dmn_sub_kor_nm}
			,#{dmn_sub_eng_nm}
			,#{dmn_sub_desc}
			,#{use_f_cd}
			,#{del_f_cd}
			,#{rg_k_seq_n}
			,TO_CHAR(SYSDATE, 'YYYYMMDD')
			,TO_CHAR(SYSDATE, 'HH24MISS')
			,#{rg_ip}
			,#{mdf_k_seq_n}
			,#{mdf_d}
			,#{mdf_tm}
			,#{mdf_ip}
			,#{dmn_sub_cd}
		) 
	</select>
	
	<select id="Update" parameterType="DomainSubDTO">
		UPDATE SMT_DMN_SUB_T SET
			 DMN_SEQ_N = #{dmn_seq_n}
			,DMN_SUB_KOR_NM =#{dmn_sub_kor_nm} 
			,DMN_SUB_ENG_NM =#{dmn_sub_eng_nm} 
			,DMN_SUB_DESC =#{dmn_sub_desc} 
			,USE_F_CD = #{use_f_cd}
			,MDF_K_SEQ_N = #{mdf_k_seq_n}
			,MDF_D = TO_CHAR(SYSDATE, 'YYYYMMDD')
			,MDF_TM = TO_CHAR(SYSDATE, 'HH24MISS')
			,MDF_IP = #{mdf_ip}
			,DMN_SUB_CD = #{dmn_sub_cd}
		WHERE DMN_SUB_SEQ_N=#{dmn_sub_seq_n}
	</select>

	<select id="Delete" parameterType="MapperParam">
		UPDATE SMT_DMN_SUB_T SET 
			 USE_F_CD = 'N'
			,DEL_F_CD = 'Y' 
			,MDF_K_SEQ_N = #{mdf_k_seq_n}
			,MDF_D = TO_CHAR(SYSDATE, 'YYYYMMDD')
			,MDF_TM = TO_CHAR(SYSDATE, 'HH24MISS')
			,MDF_IP = #{mdf_ip}
		WHERE DMN_SUB_SEQ_N=#{dmn_sub_seq_n}
	</select>
</mapper>